__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.ipynb_checkpoints/
*.nbconvert.ipynb

.env
.env.*

node_modules/
build/
dist/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.sqlite3
*.db

*.pkl
*.h5
*.pt
notebooks/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
